<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${corecompetencies} and ${corecompetencies.size()}">no jobs!</p>

<div class="container body-content">
    <h2>Core Competencies:</h2>
    <ul>
        <li th:each="corecompetency : ${corecompetencies}">
            <p th:text="${corecompetency.name}"></p>
        </li>
    </ul>
    <h2>Add core competencies:</h2>
    <a th:href="@{'/corecompetencies/add'}">Add Core Competencies</a>

</div>

</body>
</html>