<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${job.name}" />
        <span th:errors="${job.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="employer">Employer</label>
        <select name="employerId">
            <option th:each="employer : ${employers}"
                    th:text="${employer.name}"
                    th:value="${employer.id}"></option>
        </select>
    </div>

    <input type="submit" value="Add Job" />
</form>

</body>
</html>