<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${jobs} and ${jobs.size()}">no jobs!</p>

<div class="container body-content">
    <h2>View jobs:</h2>
    <ul>
        <li th:each="job : ${jobs}">
            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
        </li>
    </ul>
    <ul>
        <li><a th:href="@{'/add'}">Add Jobs</a></li>
        <li><a th:href="@{'/employers/add'}">Add Employers</a></li>
        <li><a th:href="@{'/corecompetencies/add'}">Add Skills</a></li>
    </ul>

</div>

</body>
</html>